<h2>{{ team }} chose this question, <span style="color:red">{{ target_person }} {{ question.q_num }}</span>:</h2>
<h3 style="color:red">{{ question.q_text }}</h3>
<p>A: {{ question.ans_a }}</p>
<p>B: {{ question.ans_b }}</p>
<p>C: {{ question.ans_c }}</p>
<p>D: {{ question.ans_d }}</p>
<br/>
<h2>They chose answer <span style="color:red">{{ guess_letter }}: {{ guess }}</span></h2>
<br/>
<h1 style="color:blue">{{ target_person }}, is this the correct answer?</h1>
<form method="post">
{% csrf_token %}
	<input type="hidden" name="student_name" value={{ student_name }}>
	{% if for_type == 'c' %}
		<button type="submit" formaction="{% url 'minefield:score' 'HIT' %}">Yes</button>
		<button type="submit" formaction="{% url 'minefield:score' 'SAFE' %}">No</button>
	{% else %}
		<button type="submit" formaction="{% url 'minefield:questionnaire_student' student_name %}">OK</button>
	{% endif %}
</form>
