{% for q in question_list %}
	<h2>{{ q.person }}&nbsp{{ q.q_num }}</h2>	
	<h4>{{ q.q_text }}</h4>
	<form action="{% url 'minefield:guess' student_name %}" method="post">
	{% csrf_token %}
		<input type="checkbox" name="choice" id="{{ q.person }}_{{ q.q_num }}_a" value="{{ q.id }}_b" checked>
		<label for="{{ q.person }}_{{ q.q_num }}_a">{{ q.ans_a }}</label><br>
		<input type="radio" name="choice" id="{{ q.person }}_{{ q.q_num }}_b" value="{{ q.id }}_b">
		<label for="{{ q.person }}_{{ q.q_num }}_a">{{ q.ans_b }}</label><br>
		<input type="radio" name="choice" id="{{ q.person }}_{{ q.q_num }}_c" value="{{ q.id }}_c">
		<label for="{{ q.person }}_{{ q.q_num }}_a">{{ q.ans_c }}</label><br>
		<input type="radio" name="choice" id="{{ q.person }}_{{ q.q_num }}_d" value="{{ q.id }}_d">
		<label for="{{ q.person }}_{{ q.q_num }}_a">{{ q.ans_d }}</label><br>
		<p>{{ q.discussion }}</p>
		<input type="submit" value="Select">
		<h2></h2>
	</form>
{% endfor %}
